extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/users/postMessage", method="post")
    input(name="username")
    input(name="content")
    button(type="submit") Post Message